@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 20px;
}

body {
    background-color: #FFFAFA;
    font-family: "Roboto", sans-serif;
    color: #000;
}

.heading {
    font-weight: 400;
    font-style: italic;
    color: #8B0000;
    text-align: center;
    line-height: 1;
    letter-spacing: 1;
}

h1{
    font-variant: small-caps;
    line-height: 1;
    text-shadow: 2px ;
}

h6{
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -5;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
}
h2 {
    font-size: 3.157rem;
    line-height: 1.1;
}
h1{
    font-size: 4.209rem;
}

p {
    text-align: justify;
    line-height: 1.6;
    text-indent: 3%;
    text-transform: lowercase;
}

.sjena-1 {
    font-size: 56px;
    text-shadow: 1px 1px 1px red, 2px 2px 1px orange, 3px 3px 1px yellow, 4px 4px 1px green, 5px 5px 1px blue, 6px 6px 1px violet; 
}

.sjena-2 {
    font-size: 56px;
    text-shadow: -4px 4px 0px rgb(56, 56, 56), -8px 8px 0px gray, -12px 12px 0px rgb(189, 189, 189);
}

strong {
    background-color: #000;
    color: #FFFAFA;
    text-decoration: underline;
}

